* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background: linear-gradient(120deg, #aa8b53, #ff6f47);
   */
  background-image: linear-gradient(
    to right top,
    #051937,
    #462a5d,
    #8f336d,
    #d24464,
    #ff6f47
  );
  color: white;
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
}

header {
  font-size: 1.5rem;
}

.num-todo {
  background: white;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  color: #ff6f47;
  position: relative;
  margin: 15px;
  text-align: center;
  padding-top: 1rem;
  font-weight: 900;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}

form button {
  color: #ff6f47;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background: #ff6f47;
  color: white;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 40%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: white;
  font-size: 1.5rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
}

.todo li {
  flex: 1;
}

.delete-btn,
.complete-btn {
  background: #ff6f47;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.complete-btn {
  background: rgb(10, 158, 10);
}

.todo-item {
  padding: 0 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.completed li {
  text-decoration: line-through;
  opacity: 0.5;
  cursor: default;
  pointer-events: none;
}

.completed .complete-btn {
  opacity: 0.5;
  cursor: default;
  pointer-events: none;
}

.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

select {
  appearance: none;
  outline: none;
  box-shadow: none;
  border: none;
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

select {
  color: #ff6f47;
  width: 15rem;
  cursor: pointer;
  padding: 0.5rem;
  font-size: 2rem;
}

.select::after {
  content: "\25BC";
  position: absolute;
  background: #ff6f47;
  padding: 1rem;
  top: 0;
  right: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.select:hover::after {
  background: white;
  color: #ff6f47;
}

#toast {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: black;
  color: #ff6f47;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 1.2rem;
}

#toast.show {
  visibility: visible;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

.footer {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}
